.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    width: 460px;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        width: 330px;
    }
}

@media screen and (max-width: 424px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }
}