.header__link_lang_ru {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
}

.header__link_lang_ru:hover {
    color: white;
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__link_lang_ru {
        font-size: 18px;
        line-height: 24px;
    }
}