.header__line {
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .header__line {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header__line {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header__line {
        max-width: 385px;
    }
}

@media screen and (max-width: 424px) {
    .header__line {
        max-width: 288px;
        margin-top: 16px;
    }
}