.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 530px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}