.place_position_center {
    max-width: 984px;
    margin: 0 auto 80px;
}

.place_position_center:nth-of-type(1) {
    margin-bottom: 75px;
}

.place_position_center:last-of-type {
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .place_position_center {
        max-width: 928px;
    }
    .place_position_center:nth-of-type(1) {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .place_position_center{
        max-width: 720px;
        margin-left: auto;
        margin-bottom: 72px;
    }
    .place_position_center:nth-of-type(1) {
        margin-bottom: 72px;
    }
    .place_position_center:last-of-type {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .place_position_center {
        max-width: 385px;
    }
}

@media screen and (max-width: 424px) {
    .place_position_center {
        margin-bottom: 48px;
    }
    .place_position_center:last-of-type {
        margin-bottom: 64px;
    }
}