.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 70%;
    margin: 0 0 32px;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}