.photo-grid_position_center {
    max-width: 1184px;
    margin: 92px auto 97px;
}

@media screen and (max-width: 1279px) {
    .photo-grid_position_center {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid_position_center {
        max-width: 720px;
        margin: 88px auto;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid_position_center {
        max-width: 385px;
        align-self: center;
    }
}

@media screen and (max-width: 424px) {
    .photo-grid_position_center {
        margin: 64px 16px;
    }
}