@import url(./__card/intro__card.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
    display: flex;
    flex-direction: column;
}