@import url(./_position/cover_position_center.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {}