@import url(./_position/cover_position_center.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    background-image: url(../../images/cover-trains.jpg);
    width: 92.5%;
    max-width: 1184px;
    padding-bottom: 57.8%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1281px) {
    .cover {
        padding-bottom: 740px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        padding-bottom: 62.5%;
    }
}