@import url(./__card/cover__card.css);
@import url(./__background/cover__background.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {}