.cover__background { 
    background-image: url(../../../images/cover-trains.jpg); 
    width: 100%; 
    padding-bottom: 62.5%; 
    background-size: contain; 
    background-repeat: no-repeat; 
    position: relative; 
} 