.lead__caption {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: start;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 424px) {
    .lead__caption {
        margin-left: 16px;
    }
}