@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}