.intro__title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px;
}

@media screen and (max-width: 424px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
    }
}